<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filepath" value="C:\Users\sander\Documents\GitHub\tournament-tracker\data"/>
	</appSettings>
	<connectionStrings>
		<add name ="tournaments" connectionString="Server=DESKTOP-2BSAOAH;database=tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>